.idea
*.iml
out
gen
**/__pycache__/
**/*.py[cod]
venv
.venv
testing.ipynb
testing.py
test.ipynb
test.py
**/AGENTS.md
**/agents.md
**/Agents.md
*.egg-info/
uv.lock
.coverage
dist/
tests/report/vulture/
**/html
progress.md
pyproject_temp.toml
temp
