.idea
*.iml
out
gen
**/__pycache__/
**/*.py[cod]
venv
.venv
testing.ipynb
testing.py
test.ipynb
test.py
**/AGENTS.md
**/agents.md
**/Agents.md
Integrations.md
integrations.md
*.egg-info/
dist/
uv.lock
